<ion-view view-title="Login">
  <ion-content class="padding">


    <div style="width: 100%; margin: 0 auto;">
      <img src="img/logo-cbvoice.png" style="width: 70%; display: block; margin: 0 auto">
    </div>




    <div class="card">
      <div class="item item-text-wrap">
        <p><strong>Cape Breton Voice</strong> app lets you communicate directly with your local officials, including
          the <strong>mayor</strong> and individual <strong>council members</strong> for each district. We get their
          attention for you, and follow up with them to make sure they respond.</p>
      </div>
    </div>


    <button class="button button-full icon-left ion-social-facebook button-positive"><strong>Login to Facebook</strong></button>
  </ion-content>
</ion-view>
