<ion-view view-title="Login" hide-back-button="true">
  <ion-content class="padding">


    <div style="width: 100%; margin: 0 auto;">
      <img src="img/logo-cbvoice.png" style="width: 50%; display: block; margin: 0 auto">
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p><strong>Cape Breton Voice</strong> lets <strong>you</strong> send feedback, questions, and concerns directly to your local elected officials, including
          the <strong>mayor</strong> and each <strong>council member</strong>.
          </br></br>
          We get their attention for you, and follow up with them to make sure they respond. <strong>#accountability #transparency</strong></p>
      </div>
    </div>

    <a class="button button-full icon-left ion-social-facebook button-positive"
       ng-click='login()'><strong>Login with Facebook</strong></a>


  </ion-content>
</ion-view>
