<ion-view view-title="Contact" align-title="right" hide-back-button="false">
  <ion-content class="padding green" ng-controller="PoliticoCtrl">

    <img src="">
    <h1></h1>

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{politico.avatar_url}}">
        <h2>{{politico.name}}</h2>
        <p>{{politico.title}}, {{politico.org}}</p>
      </div>

      <div class="item">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Feedback or Questions</span>
          <textarea ng-model='feedbackMsg' placeholder="Share your thoughts" style="padding: 15px; background-color: #f7f3f7;" rows="7">{{feedbackMsg}}</textarea>
        </label>

        <a class="button button-full icon-left ion-social-facebook button-positive"
           ng-click='sendFeedback()'><strong>Send Feedback</strong></a>

        <button class="button icon-left ion-checkmark-circled button-full button-outline button-balanced" ng-show="submitted">
          <strong>Your feedback was submitted</strong>
        </button>

        <button class="button icon-left ion-checkmark-circled button-full button-outline button-assertive" ng-show="submitError">
          <strong>Don't forget the feedback!</strong>
        </button>

      </div>

    </div>

  </ion-content>

</ion-view>

