<ion-view view-title="Elected Reps" hide-back-button="true" >
  <ion-content class="padding" ng-controller="PoliticosCtrl">

    <ion-list ng-repeat="(id,rep) in politicos">

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="/politico/{{id}}">
        <img ng-src="{{rep.avatar_url}}">
        <strong>{{rep.name}}</strong>, {{rep.title}}
        <p>{{rep.org}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

    </ion-list>

  </ion-content>


</ion-view>


<div class="tabs tabs-icon-left">
  <a class="tab-item" ng-click='logout()'>
    <i class="icon ion-log-out"></i>
    Logout
  </a>
</div>
