<ion-view view-title="Elected Reps" hide-back-button="true" >
  <ion-content class="padding">


    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="https://pbs.twimg.com/profile_images/623286900221198336/xv9PL-26_400x400.jpg">
        <strong>Joe Ward</strong>, Founder
        <p>SocialResponseApp.com</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

    </ion-list>

  </ion-content>


</ion-view>


<div class="tabs tabs-icon-left">
  <a class="tab-item" ng-click='logout()'>
    <i class="icon ion-log-out"></i>
    Logout
  </a>
</div>
