<ion-view view-title="Contact" align-title="right" hide-back-button="false">
  <ion-content class="padding green" ng-controller="PoliticoCtrl">

    <img src="">
    <h1></h1>

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{politico.avatar_url}}">
        <h2>{{politico.name}}</h2>
        <p>{{politico.title}}, {{politico.org}}</p>
      </div>

      <div class="item">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Feedback or Questions</span>
          <textarea placeholder="Share your thoughts" style="padding: 15px; background-color: #f7f3f7;" rows="7"></textarea>
        </label>

        <a class="button button-full icon-left ion-social-facebook button-positive"
           ng-click='login()'><strong>Send Feedback</strong></a>
      </div>

    </div>

  </ion-content>

</ion-view>

